li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.login-table th, .signup-table th {
    min-width: 200px;
    min-height: 40px;
}

.errorlist {
    font-size: 10pt;
    padding: 3px 10px;
    margin-left: 20px;
    margin-bottom: 4px;
    border: 1px solid #f5c6cb;
    border-radius: .25rem;
    float: right;
    color: #721c24;
    background-color: #f8d7da;
}

.user-tab {
    height: 48px;
}

.user-tab__avatar {
    width: 48px;
    height: 48px;
    border-radius: .5rem;
    background-size: cover;
    display: inline-block;
    margin: 0 8px;
}

.user-tab__info {
    display: inline-block;
    vertical-align: top;
}

.user-tab__username {
    color: white;
    padding: 0 4px;
}

.user-tab__logout, .user-tab__settings {
    font-size: 11pt;
    color: rgba(255,255,255,.5);
    padding: 0 4px;
}

.user-tab__logout:hover, .user-tab__settings:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

.quest__avatar {
    width: 72px;
    height: 72px;
    background-size: cover;
    border-radius: 0.5em;
}

.quest__points {
    margin: 14px 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 0 2px;

    font-size: 16pt;
    text-align: center;

}

.quest__points__count {
    /*font-size: 16pt;*/
    min-width: 32px;
    text-align: center;

    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.quest__points__like {
    width: 16px;
    padding-top: 6px;

    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.quest__points__dislike {
    width: 16px;
    padding-top: 6px;

    display: inline-block;
    vertical-align: top;
}

.answer {
    padding-bottom: 32px;
}

.answer__avatar {
    width: 72px;
    height: 72px;
    background-size: cover;
    border-radius: 0.5em;
}

.answer__points {
    margin: 14px 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 0 2px;

    font-size: 16pt;
    text-align: center;

}

.answer__points__count {
    /*font-size: 16pt;*/
    min-width: 32px;
    text-align: center;

    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.answer__points__like {
    width: 16px;
    padding-top: 6px;

    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.answer__points__dislike {
    width: 16px;
    padding-top: 6px;

    display: inline-block;
    vertical-align: top;
}

.answer-textfield {
    width: 100%;
    height: 200px;
}

.quest__text-small {
    max-height: 120px;
    overflow-y: hidden;
}

.answer__correct__checkbox {
    margin: 2px;
}

.answer__correct__label {
    font-weight: bold;
}